<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="usuarios.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRACION"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="usuarioDetalle.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRACION"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
